### 1. Print numbers from 1 to 10 using a for loop

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [8]:
for i in range ( 2,20 , 2 ):
    print(i)
# list(range(2,20 , 2))

2
4
6
8
10
12
14
16
18

### 3. Print each character of the string 'Python' using a for loop

In [10]:
strr='asjflna'
for i  in strr:
    print(i)

a
s
j
f
l
n
a

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [12]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [1]:
listt= [1,2,3,45,45]
for i in listt:
    print(i)

1
2
3
45
45

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [17]:
res=0
for i in range(1,51):
    res+= i
res

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [23]:
for i in range(10,0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [25]:
for i in range(1,11):
    print(i*7)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [32]:
vowels =['a', 'e' , 'i' , 'o' , 'u']
count=0
for i in "rru":
    if i in vowels:
        count+=1
count

1

### 10. Print all odd numbers from 1 to 30 using a for loop

In [33]:
for i in range(1,30,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [36]:
strr= 'HBIFjnfsnUHFNu'
count=0
strr[0].isupper()
for i in strr:
    if i.isupper():
        count+=1
count

8

### 12. Create a new list that contains only the positive numbers from another list

In [40]:
listt = [1,2,3,-5,-6,-7,-4, 444,34,2]
list_p = [i for i in listt if i>0]
list_p

[1, 2, 3, 444, 34, 2]

### 13. Print numbers from 1 to 10 using a while loop

In [4]:
i =0
while(i<10 ):
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [13]:
i = 0
while(i<50):
    i+=5
    print(i)

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [14]:
i = 10
while(i>0):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [7]:
# for i in range(1,100):
#     a= int(input("enter number 0"))
#     if a == 0:
#         print("bye")

def iszeroo():
    a= int(input("enter number 0"))
    if a == 0:
        return "bye"

    else:
         return iszeroo()

# def iszeroo():
    
#     a = int(input("enter number 0: "))
    

#     if a == 0:
#         return "bye"
#     else:
#         return iszeroo()


# me = iszeroo()
# print(me)
iszeroo()

'bye'

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [2]:
i =1
sum= 0
while(i<11):
    sum+=i
    i+=1
sum

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [9]:
fruit_dict= {'banana': 70, 'apple': 75, 'grape': 80}
for i in fruit_dict.keys():
    print(i)

banana
apple
grape

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [10]:
fruit_dict= {'banana': 70, 'apple': 75, 'grape': 80}
for i in fruit_dict.keys():
    print(i, "->", fruit_dict[i])

banana -> 70
apple -> 75
grape -> 80

### 20. Print both keys and values of a dictionary using a for loop

In [11]:
fruit_dict= {'banana': 70, 'apple': 75, 'grape': 80}
for i in fruit_dict.keys():
    print(i, "->", fruit_dict[i])

banana -> 70
apple -> 75
grape -> 80

### 21. Count how many keys are in a dictionary using a for loop

In [ ]:
fruit_dict= {'banana': 70, 'apple': 75, 'grape': 80}
count=0
for i in fruit_dict.keys():
    count+=1
print("Number of fruits:", count)

3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [13]:
fruit_dict= {'banana': 70, 'apple': 75, 'grape': 80}
for i in fruit_dict.keys():
    if i[0] == 'a':
        print(i, "->", fruit_dict[i])

apple -> 75

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [15]:
student_dict = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 96}

for name, score in student_dict.items():
    if score >= 90:
        print(f"{name}: A grade")

Bob: A grade
Diana: A grade

### 24. Given a dictionary, print the sum of all the values using a for loop

In [16]:
student_dict = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 96}
summ=0
for i in student_dict.values():
    summ+=i
print("Sum of scores:", summ)

Sum of scores: 351

### 25. Given a dictionary, find the key with the highest value using a for loop

In [22]:
student_dict = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 96}
topper = {}
topper_m= 0

for i in student_dict:
    if student_dict[i] > topper_m:
        if not topper.keys():
            topper[i] = student_dict[i]

        else:
            topper.clear()
            topper[i] = student_dict[i]

        topper_m = student_dict[i]
print("Topper:", topper)

Topper: {'Diana': 96}

### 26. Convert all dictionary keys into a list using a for loop

In [23]:
student_dict = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 96}
listt= list(student_dict.keys())
print(listt)

['Alice', 'Bob', 'Charlie', 'Diana']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [24]:
words_dict={'myname':5 , 'rrr':3, 'ssssssss':8}
for i in words_dict:
    print(i, words_dict[i])

myname 5
rrr 3
ssssssss 8

### 28. Given a list of numbers, print only numbers greater than 10

In [28]:
l_n = [1,2,43,4,45,6,7,48,9,10]
print([i for i in l_n if i > 10 ])

[43, 45, 48]

### 29. Count how many elements in a list are integers using a for loop

In [ ]:
ls_mix = [1, 'hello', 3.14, True , 'world']
print([i for i in ls_mix if isinstance(i, int)])

[1, True]
[3.14]
[True]

### 30. Print the sum of all even numbers in a list using a for loop

In [5]:
sim_l=[i for i in range(2,101)]
count= 0
for i in sim_l:
    count+=i
print(count)

5049

### 31. Print the cube of each number in a list of 5 numbers

In [7]:
c_list= [i**3 for i in range(1,6)]
print(c_list)

[1, 8, 27, 64, 125]

### 32. Print each word in the sentence '' using a for loop

In [9]:
st= 'Python is fun'
for i in st.split():
    print(i)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [10]:
for i  in range(1,6):
    print(3*i)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [13]:
names=['rohan','am','aam']
for i in names:
    print(i) if i.startswith('a') else print('not found')

not found
am
aam

### 35. Find the largest number in a list using a for loop

In [14]:
l_l=[3,46,57,34,56,6,3,5,2,1,]
mx= 0
for i in l_l:
    if i>mx:
        mx=i
print(mx)

57

### 36. Print the index and value of each element in a list

In [15]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(lst)):
    print(f'on index {i} of lst {lst[i]} is present' )

on index 0 of lst 1 is present
on index 1 of lst 2 is present
on index 2 of lst 3 is present
on index 3 of lst 4 is present
on index 4 of lst 5 is present
on index 5 of lst 6 is present
on index 6 of lst 7 is present
on index 7 of lst 8 is present
on index 8 of lst 9 is present
on index 9 of lst 10 is present

### 37. Create a dictionary with 5 students and their marks

In [17]:
dict={'alice':21,'rohan':22,'ram':23 ,'sham':24 ,'rohit':25}
dict

{'alice': 21, 'rohan': 22, 'ram': 23, 'sham': 24, 'rohit': 25}

### 38. Use a for loop to print all student names

In [18]:
for i in dict:
    print(dict[i])

21
22
23
24
25

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [19]:
friuts = {'apple':20,'banana':40,'orange':60}
for i in friuts:
    print(f'price of {i} is {friuts[i]}')

price of apple is 20
price of banana is 40
price of orange is 60

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [20]:
five_products = {'apple':20,'banana':40,'orange':60,'grapes':80,'mango':100}
for i in five_products:
    five_products[i]+=10
print(five_products)

{'apple': 30, 'banana': 50, 'orange': 70, 'grapes': 90, 'mango': 110}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [24]:
ten_items={'apple':20,'banana':40,'orange':60,'grapes':80,'mango':100,'pineapple':120,'watermelon':140,'grapes':160,'mango':180,'pineapple':200}
for i in list(ten_items.keys()):
    if ten_items[i]<50:
        ten_items.pop(i)
print(ten_items)

{'orange': 60, 'grapes': 160, 'mango': 180, 'pineapple': 200, 'watermelon': 140}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [25]:
subj_mark={'maths':80,'english':90,'science':70,'social':60,'hindi':50}
subj_mark['marathi']=10
for i in subj_mark:
    print(i,subj_mark[i])

maths 80
english 90
science 70
social 60
hindi 50
marathi 10

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [ ]:
names_age={'rohan':20,'rohit':21}
for i in names_age:
    names_age[i]+=1
print(names_age)

{'rohan': 21, 'rohit': 23}

### 44. Print numbers from 0 to 9 using range()

In [31]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 45. Print numbers from 5 to 15 using range()

In [32]:
print (list(range(5, 16)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [33]:
print([i for i in range(1,21,2)])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 47. Print the length of a given list using len()

In [35]:
print(len([1,2,3,4,5,6,7,8,9,10]))

10

### 48. Print the length of a given string using len()

In [36]:
print(len('rohan'))

5

### 49. Use range() and len() to iterate over a list by index and print each element

In [37]:
listt=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(listt)):
    print(listt[i])

1
2
3
4
5
6
7
8
9
10

### 50. Print the sum of numbers from 1 to 100 using range()

In [40]:
print(sum([i for i in range(101)]))

5050

In [ ]:
# nm= 153
# sm=0
# for i in (list(str(nm))):
#     sm = sm +int(i)**3
# print(sm)
sm = sum(int(digit)**len(str(nm)) for digit in str(nm))

153