# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [1]:
# Write your answer here
ns = [[1,2,3], [4,5], [6,7,8,9]]
for i in ns:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [2]:
# Write your answer here
ns=[[10,20], [30], [5, 7, 8]]
summ=0
for i in ns:
    for j in i:
        summ+=j
print(summ)

80

## **3. Count how many even numbers are present in a nested list.**

In [4]:
# Write your answer here
ns = [[1,2,3], [4,5], [6,7,8,9]]
summ=0
for i in ns:
    for j in i:
        if j%2==0:
            summ+=1
print(summ)

4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [7]:
# Write your answer here
ns=[['hello', 'world'], ['python']]
for i in range(len(ns)):
    for j in range(len(ns[i])):
        ns[i][j]=ns[i][j].upper()
print(ns)

[['HELLO', 'WORLD'], ['PYTHON']]

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [10]:
# Write your answer here
ns=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
for i in range(len(ns)):
    ttl=0
    for j in range(len(ns[i])):
        ttl+=ns[i][j]
    ns[i]=ttl

ns

[255, 210, 259]

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [ ]:
# Write your answer here
ns=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
gr=[]
for i in ns:
    for j in i :
        if j>50:
            gr.append(j)
print(gr)

[]

## **7. Find the largest number inside a nested list.**

In [13]:
# Write your answer here
ns=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]

lagr=0
for i in ns:
    for j in i :
        if j>lagr:
            lagr=j
print(lagr)

92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [14]:
# Write your answer here
ns = [[1,2], [3,4], [5]] #â†’ [1,2,3,4,5]
em=[]
for i in ns :
    for j in i :
        em.append(j)
print(em)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [16]:
# Write your answer here
ns = [[1,-2], [3,-4], [5]] 
for i in range(len(ns)) :
    for j in range(len(ns[i])) :
        if ns[i][j]<0:
            ns[i][j]=0

print(ns)

[[1, 0], [3, 0], [5]]

## **10. Count how many inner lists exist inside a nested list.**

In [17]:
# Write your answer here
ns = [[1,-2], [3,-4], [5]] 
inner_count=0
for i in ns:
    inner_count+=1
print(inner_count)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [44]:
# Write your answer here
dict={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
for key , value in dict.items():
    for k,v in value.items():
        print(f'{key}`s {k}`s is {v}')

A`s age`s is 15
A`s grade`s is 10
B`s age`s is 16
B`s grade`s is 11

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [52]:
# Write your answer here
dict={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
for key , val  in dict.items():
        val['grade']+=5
dict

{'A': {'age': 15, 'grade': 15}, 'B': {'age': 16, 'grade': 16}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [55]:
# Write your answer here
dict={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
for key , val in dict.items():
    for k,v in val.items():
        print(f' {k}')

 age
 grade
 age
 grade

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [ ]:
# Write your answer here
dictt= {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count=0
for key , val in dictt.items():
    if val['science']>80:
        count+=1
print(count)

1

## **15. Create a new dictionary of students whose age is above 15.**

In [ ]:
# Write your answer here
dict={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
nd={}
for key , val in dict.items():
    if val['age']>=16:
        
        nd[key]=val['age']

nd

{'B': 16}

## **16. Find which student scored highest in science.**

In [23]:
# Write your answer here
dictt= {
  'A': {'math': 85, 'science': 92},
  'B': {'math': 70, 'science': 92}
}
topper = {}
highest=0
for key  , val in dictt.items() :
    current_sc=val['science']
    
    if current_sc>highest:
        topper.clear()
        topper[key]=val['science']
        highest=current_sc
    elif current_sc==highest:
        topper[key]=val['science']
        
        
    

print(topper)

{'A': 92, 'B': 92}

## **17. Print employees who belong to the HR department from this dictionary.**

In [26]:
# Write your answer here
emp={'sam':{'id':123 , 'salary':100000 , 'department':'hr' },
    'rohan':{'id':124 , 'salary':100000 , 'department':'hr' },
    'rohit':{'id':125 , 'salary':100000 , 'department':'mr' }
}
for key  , val in emp.items():
    if val['department']=='hr':
        print(f'{key}`s department is {val["department"]}')

sam`s department is hr
rohan`s department is hr

## **18. Delete all entries where the status is 'inactive'.**

In [33]:
# Write your answer here
emp={'sam':{'id':123 , 'salary':100000 , 'department':'hr' , 'status':'inactive' },
    'rohan':{'id':124 , 'salary':100000 , 'department':'hr' , 'status':'active' },
    'rohit':{'id':125 , 'salary':100000 , 'department':'mr' , 'status':'inactive' }
}
for item in list(emp.items()):
    if (item[1]['status']) == 'inactive':
        emp.pop(item[0])
emp

{'rohan': {'id': 124,
  'salary': 100000,
  'department': 'hr',
  'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [40]:
# Write your answer here
inventory = {
    'item101': {'name': 'Laptop', 'quantity': 50, 'location': 'Aisle 1'},
    'item102': {'name': 'Mouse', 'quantity': 150, 'location': 'Aisle 2'},
    'item103': {'name': 'Keyboard', 'quantity': 75, 'location': 'Aisle 1'},
    'item104': {'name': 'Monitor', 'quantity': 30, 'location': 'Aisle 3'},
    'item105': {'name': 'USB Cable', 'quantity': 400, 'location': 'Aisle 2'}
}
rev=0
for key , val  in inventory.items():
    # print(type(val['quantity']))
    rev+=val['quantity']
print(rev)

705

## **20. Convert all inner dictionary keys to uppercase.**

In [ ]:
# Write your answer here
inventory = {
    'item101': {'name': 'Laptop', 'quantity': 50, 'location': 'Aisle 1'},
    'item102': {'name': 'Mouse', 'quantity': 150, 'location': 'Aisle 2'},
    'item103': {'name': 'Kgoboard', 'quantity': 75, 'location': 'Aisle 1'},
    'item104': {'name': 'Monitor', 'quantity': 30, 'location': 'Aisle 3'},
    'item105': {'name': 'USB Cable', 'quantity': 400, 'location': 'Aisle 2'}
}


for key , inner_dict in inventory.items():
    
    for k in inner_dict.keys():
        inner_dict[k.upper()]=inner_dict.pop(k)

inventory     









# for item_id in inventory:
    
#     old_keys = list(inventory[item_id].keys())
    
    
#     for old_key in old_keys:
#         new_key = old_key.upper()
#         inventory[item_id][new_key] = inventory[item_id].pop(old_key)

{'item101': {'NAME': 'Laptop', 'QUANTITY': 50, 'LOCATION': 'Aisle 1'},
 'item102': {'NAME': 'Mouse', 'QUANTITY': 150, 'LOCATION': 'Aisle 2'},
 'item103': {'NAME': 'Keyboard', 'QUANTITY': 75, 'LOCATION': 'Aisle 1'},
 'item104': {'NAME': 'Monitor', 'QUANTITY': 30, 'LOCATION': 'Aisle 3'},
 'item105': {'NAME': 'USB Cable', 'QUANTITY': 400, 'LOCATION': 'Aisle 2'}}