### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dict1={"name":"Tony", "age":30, "city":"New York"}
dict1

{'name': 'Tony', 'age': 30, 'city': 'New York'}

### 2. Create a dictionary and print the value of a specific key.

In [3]:
dict2={"name":"batman", "age":38, "city":"Gotham"}
dict2["city"]

'Gotham'

### 3. Create a list of 5 numbers and print the second element.

In [2]:
list3=[1,2,3,4,5]
list3[1]

2

### 4. Add an element "banana" to an existing list.

In [4]:
list4=["apple","orange","mango","grape"]
list4.append("banana")
list4

['apple', 'orange', 'mango', 'grape', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [16]:
list5=["cherry","orange","mango","grape"]
list5.insert(2 , "meat")
list5

['cherry', 'orange', 'meat', 'mango', 'grape']

### 6. Remove the element 10 from a list.

In [19]:
list6=[1,2,3,4,5,6,7,8,9,10]
list6.remove(10)
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 7. Create a tuple with 4 elements and print the last one.

In [21]:
tuple7=(100,200,300,400,500)
print(tuple7[-1])

500

### 8. Convert a tuple into a list.

In [22]:
tuple8=("red","green","blue","yellow")
list8=list(tuple8)
list8

['red', 'green', 'blue', 'yellow']

### 9. Find the length of a given tuple.

In [15]:
tuple9=(1,2,3,4,5)
len(tuple9)

5

### 10. Store 5 student names in a list and print them using a loop.

In [16]:
list10=["john","noha","doe","anna","smith"]
for names in list10:
    print(names)

john
noha
doe
anna
smith

### 11. Create two lists and concatenate them.

In [25]:
list11=[5,10,15,20,25]
list111=[80,90,100]
list11+=list111
list11

[5, 10, 15, 20, 25, 80, 90, 100]

### 12. Reverse a list without using reverse().

In [27]:
list12=[1, 2, 3, 4, 5]
for i in range(len(list12)-1,-1,-1):
    print(list12[i])
list12[::-1]

5
4
3
2
1

[5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [30]:
list13=[2,4,6,8,10]
list13.sort(reverse=True)
list13

[10, 8, 6, 4, 2]

### 14. Create a set with 5 numbers and add a new number.

In [39]:
set14={1,2,3,4,5}
set14.add(6)
set14

{1, 2, 3, 4, 5, 6}

### 15. Remove an element from a set using discard().

In [32]:
set15={"apple","banana","cherry"}
set15.discard("apple")
set15

{'banana', 'cherry'}

### 16. Find the union of two sets.

In [41]:
set16={"red","green","blue"}
set161={"yellow","pink"}
set16.union(set161)

{'blue', 'green', 'pink', 'red', 'yellow'}

### 17. Find the intersection of two sets.

In [42]:
set17={1,2,3,4,5}
set171={4,5,6,7,8}
set17.intersection(set171)

{4, 5}

### 18. Check if a value exists in a set.

In [43]:
set18={1,2,3,4,5}
print(3 in set18)

True

### 19. Create a set and clear all elements.

In [44]:
set19={"a","b","c","d","e"}
set19.clear()
set19

set()

### 20. Convert a list with duplicate values into a set.

In [45]:
list20=[1, 2, 3, 4, 5,3,2]
set20=set(list20)
set20

{1, 2, 3, 4, 5}

### 21. Create a dictionary and update the value of a key.

In [46]:
dict21={"name":"Alice", "age":28, "city":"UK"}
dict21["age"] = 21
dict21

{'name': 'Alice', 'age': 21, 'city': 'UK'}

### 22. Delete a key-value pair from a dictionary.

In [33]:
dict22={"name":"Bob", "age":32, "city":"Canada"}
dict22.pop("name")
dict22

{'age': 32, 'city': 'Canada'}

### 23. Print all keys of a dictionary.

In [48]:
dict23={"name":"rushi", "age":29, "city":"rushi"}
dict23.keys()

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [37]:
dict24={"name":"rushi", "age":27, "city":"rushi"}
dict24.values()

dict_values(['rushi', 27, 'buldhana'])

### 25. Loop through a dictionary and print key and value.

In [36]:
dict25={"name":"sam", "age":25, "city":"rom"}
for i in dict25.keys():
    print(i , dict25[i])

name Noha
age 25
city Spain

### 26. Create a list of numbers and print only even numbers.

In [51]:
list26={1,2,3,4,5,6,7,8,9,10}
for num in list26:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

### 27. Create a tuple and unpack it into 3 variables.

In [8]:
tuple27=(8,7,6, 4)
listt=[1,2,3]
(a,b,c)=(tuple27[:3])
print(a)
print(b)
print(c)

8
7
6

### 28. Check if a number is greater than 10 using a comparison operator.

In [53]:
15 > 10

True

### 29. Use the in operator to check if "python" exists in a list.

In [54]:
list29=["java","python","c++","ruby","javascript"]
print("python" in list29)

True

### 30. Use the and operator in a condition.

In [57]:
if 20 <= 15 and 15 < 10:
    print("Condition is True")
else:
    print("Condition is False")

Condition is False

### 31. Use the % operator to check if a number is divisible by 5.

In [58]:
if 20%5==0:
    print("20 is divisible by 5")

20 is divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [59]:
2**5

32

### 33. Create two numbers and compare them using >=.

In [60]:
10>=11

False

### 34. Create a list and remove the last element using pop().

In [61]:
list34=[10,20,30,40,50]
list34.pop()
list34

[10, 20, 30, 40]

### 35. Create a list and print its first and last elements.

In [42]:
list35=[1, 2, 3, 4, 5]
print(list35[0] , list35[-1])

1 5

### 36. Count how many times "apple" appears in a list.

In [64]:
list36=["apple","banana","grapes","kiwi","mango","apple","orange"]
list36.count("apple")

2

### 37. Create a tuple and check if a value exists using in.

In [65]:
tuple37=(1,2,3,4,5,6,7,8,9,10)
print(5 in tuple37)

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [72]:
dict38={"name":"Nick", "age":26, "city":"Spain"}
list38=list(dict38.keys())
list38

['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [73]:
dict39={"name":"David","marks":89,"subjects":{"Math":95, "Science":90, "English":88}}
dict39

{'name': 'David',
 'marks': 89,
 'subjects': {'Math': 95, 'Science': 90, 'English': 88}}

### 40. Merge two dictionaries into one.

In [47]:
dict40={"a":1, "b":2, "c":3}
dict401={"d":4, "e":5}
dict4001=dict40 | dict401   #use | for merge only fro dictonlary 
dict4001

lsit = [1,2,]
lsit = [1,2,]
ls = lsit + lsit
lsit

[1, 2]

### 41. Create a set and print the number of elements.

In [75]:
set41={1,2,3,4,5}
len(set41)

5

### 42. Create a dictionary and print all items using items().

In [48]:
dict42={"x":10, "y":20, "z":30}
dict42.items()

dict_items([('x', 10), ('y', 20), ('z', 30)])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [53]:
list43=[i**2 for i in range(1,10) ]
list43

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### 44. Multiply two numbers and print the result using *.

In [79]:
10*5

50

### 45. Divide two numbers and print the results using / and //.

In [81]:
print(10/5)
print(10//5)

2.0
2

### 46. Create a list and replace the element at index 1.

In [82]:
list46=[5,10,15,20,25]
list46[1]=50
list46

[5, 50, 15, 20, 25]

### 47. Create a tuple from user input (3 values).

In [44]:
a = int(input("Enter 1st value of tuple: "))
b = int(input("Enter 2nd value of tuple: "))
c = int(input("Enter 3rd value of tuple: "))

tuple47 = (a, b, c)
print(tuple47)

(5, 6, 7)

### 48. Create a set from a string and print all unique characters.

In [32]:
str48="Hello, World!"
set48=set(str48)
set48

{' ', '!', ',', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

### 49. Use the is operator to compare two variables.

In [89]:
a=15
b=4
a is b

False

### 50. Create a dictionary and check if a key exists using in.

In [91]:
dict50={"name":"Eve", "age":22, "city":"Italy"}
print("age" in dict50.keys())

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [92]:
a=25
if a>10 and a<50:
    print("a is between 10 and 50")

a is between 10 and 50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [96]:
if 4 <5 or 4>20:
    print("4 is less than 5 or greater than 20")

4 is less than 5 or greater than 20

### 53. Use not to check if a list is not empty.

In [3]:
list53=[20,30,40,50,60]
list53!=[]

True

### 54. Write code to check if a character is a vowel using or.

In [15]:
list54 = ['a', 'e', 'i', 'o', 'u']

'w' in list54 or 'j' in list54

False

### 55. Check if a dictionary has both keys "name" and "age".

In [9]:
dict55={"name": "Nick", "age": 28,"city": "Spain"}
'name' and 'age' in dict55.keys()

True

### 56. Verify if a set contains either 10 or 20.

In [18]:
set56={10,20,30,40,50}
10 in set56 or 20 in set56

True

### 57. Use not to check if a number is not equal to 100.

In [19]:
num=56
num!=100

True

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [20]:
dict58={"name":"Kunal","marks":85,"Domain":"Data Engineering"}
if "marks" in dict58 and dict58["marks"]>35:
    print(dict58["name"],"is passed")

Kunal is passed

### 59. Use logical operators to check if a number is positive and even.

In [25]:
num=23
if(num>0 and num%2==0):
    print("num is positive even number")
else:
    print("num is either negative or odd number")

num is either negative or odd number

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [31]:
tuple60=(1,2,3,4,5)
if len(tuple60)>3 or 0 in tuple60 :
    print("Tuple has more than 3 elements")

Tuple has more than 3 elements